{{ define "page" }}
	<script id="focusGame">
		if (window._closeWebPanel) window._closeWebPanel();
	</script>
	{{ if .NoJs }}
		<noscript>
			<meta http-equiv="refresh" content="0.0;url=profile" />
		</noscript>
	{{ end }}
{{ end }}
