@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	padding: 0;
}

/* Thin Scrollbar */
/* :root {
	scrollbar-face-color: rgb(210,210,210);
	scrollbar-track-color: rgb(46,54,69);
	scrollbar-color: rgb(210,210,210) rgb(46,54,69);
	scrollbar-width: thin !important;
} */

.scrollbar-thin {
	scrollbar-width: thin;
}

/* Relocate three.js stats */
.threeStats {
	top: 52px !important;
}