@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	padding: 0;
}

/* Thin Scrollbar */
:root {
	scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
	scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
	scrollbar-color: rgb(210,210,210) rgb(46,54,69);
	scrollbar-width: thin !important;
}

/* Relocate three.js stats */
.threeStats {
	top: 52px !important;
}