{{ define "profileHeader" }}
	<div class="self-center flex items-center gap-3">
		{{ if .AuthId }}
			<div
				id="coin-balance"
				title="Coins"
				class="select-none flex items-center gap-1 text-sm font-medium text-gray-500 dark:text-gray-400"
			>
				<svg
					class="w-4 h-4 text-yellow-400"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					viewBox="0 0 16 16"
				>
					<path
						d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
					/>
				</svg>
				{{ .AuthCoins }}
			</div>
			{{/* absolutely amazing: https://stackoverflow.com/a/71029926 */}}
			<div class="group" tabindex="1">
				<div
					class="flex items-center justify-between font-medium marker:content-none hover:cursor-pointer"
				>
					<div
						class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
					>
						<svg
							class="absolute w-10 h-10 text-gray-400 -left-1 overflow-hidden"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
								clip-rule="evenodd"
							></path>
						</svg>
					</div>
				</div>
				<div
					class="mt-1 absolute z-10 invisible focus:outline-none group-focus:visible opacity-0 group-focus:opacity-100 ease-out duration-100 right-0 mr-2 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
				>
					<div
						class="px-4 py-3 text-sm text-gray-900 dark:text-white"
					>
						<div>{{ .AuthNickname }}</div>
						<div class="font-medium truncate">
							@{{ .AuthUsername }}
						</div>
					</div>
					<ul
						class="py-2 text-sm text-gray-700 dark:text-gray-200"
						aria-labelledby="avatarButton"
					>
						<li>
							<a
								hx-target="#page"
								href="/messages"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
							>
								Messages
							</a>
						</li>
						<li>
							<a
								hx-target="#page"
								href="/settings"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
							>
								Settings
							</a>
						</li>
					</ul>
					<div class="py-1">
						<a
							hx-disable
							href="/signout"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
						>
							Sign out
						</a>
					</div>
				</div>
			</div>
		{{ else }}
			<div class="flex gap-1">
				<a
					hx-target="#page"
					href="/signup"
					class="text-white bg-orange-600 hover:bg-orange-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700"
				>
					Join Now!
				</a>
				<a
					hx-target="#page"
					href="/login"
					class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700"
				>
					Login
				</a>
			</div>
		{{ end }}
	</div>
{{ end }}
